/*1024x600 */

@media (width: 1024px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgcont.jpg");
        background-repeat: no-repeat;
        background-size: 100% 768px;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 34%;
        left: 21%;
    }
    .im1 {
        width: 14%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 15%;
        height: 102%;
        background: linear-gradient(to right, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 33%;
        left: 38%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 1em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 50%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1.3em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 72%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 49%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 29%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 4%;
        background-color: rgb(0, 0, 0);
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 69%;
        left: 37%;
        text-decoration: none;
        font-size: 1em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* 1366 p display */

@media screen and (min-device-width:1340px) and (max-device-width:1500px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgcont.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 27%;
        left: 21%;
    }
    .im1 {
        width: 14%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 15%;
        height: 102%;
        background: linear-gradient(to right, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
        50% {
            filter: blur(1.1em);
            -webkit-filter: blur(1.1em);
        }
        100% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 24%;
        left: 38%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 1.5em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 58%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1.3em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 72%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 49%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 29%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 4%;
        background-color: rgb(0, 0, 0);
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 72%;
        left: 37%;
        text-decoration: none;
        font-size: 1.6em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* 1280 p display */

@media screen and (min-device-width:1210px) and (max-device-width:1340px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgcont.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 27%;
        left: 21%;
    }
    .im1 {
        width: 14%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 15%;
        height: 102%;
        background: linear-gradient(to right, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 24%;
        left: 38%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 1.5em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 58%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1.3em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 72%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 49%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 29%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 4%;
        background-color: rgb(0, 0, 0);
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 72%;
        left: 37%;
        text-decoration: none;
        font-size: 1.6em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/*1920 p display FHD */

@media screen and (min-device-width:1500px) and (max-device-width:1920px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgcont.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 27%;
        left: 21%;
    }
    .im1 {
        width: 14%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 15%;
        height: 102%;
        background: linear-gradient(to right, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
        50% {
            filter: blur(1.8em);
            -webkit-filter: blur(1.8em);
        }
        100% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 25%;
        left: 38%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 2em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 58%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1.3em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 72%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 49%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 29%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 4%;
        background-color: rgb(0, 0, 0);
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 72%;
        left: 37%;
        text-decoration: none;
        font-size: 2em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* 2k monitor */

@media screen and (min-device-width:1921px) and (max-device-width:2160px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgcont.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 27%;
        left: 21%;
    }
    .im1 {
        width: 14%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 15%;
        height: 102%;
        background: linear-gradient(to right, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
        50% {
            filter: blur(2em);
            -webkit-filter: blur(2em);
        }
        100% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 26%;
        left: 38%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 2em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 58%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1.3em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 72%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 49%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 29%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 4%;
        background-color: rgb(0, 0, 0);
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 72%;
        left: 37%;
        text-decoration: none;
        font-size: 2em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* 4k monitor */

@media screen and (min-device-width:2161px) and (max-device-width:4096px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgcont.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 31%;
        left: 21%;
    }
    .im1 {
        width: 17%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 18%;
        height: 102%;
        background: linear-gradient(to right, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
        50% {
            filter: blur(3em);
            -webkit-filter: blur(3em);
        }
        100% {
            filter: blur(0.5em);
            -webkit-filter: blur(0.5em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 26%;
        left: 38%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 5em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 58%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 5.3em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 5em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 77%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 54%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 31%;
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 4%;
        background-color: rgb(0, 0, 0);
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 76%;
        left: 37%;
        text-decoration: none;
        font-size: 5em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* android small */

@media screen and (min-device-width:315px) and (max-device-width:374px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgandr.jpg");
        background-repeat: no-repeat;
        background-size: 100% 750px;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 25%;
        left: 39%;
    }
    .im1 {
        width: 33%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 35%;
        height: 102%;
        background: linear-gradient(to bottom, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 50%;
        left: 11%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 0.7em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 0%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 69%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 48%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 27%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 3%;
        background-color: white;
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 66%;
        left: 37%;
        text-decoration: none;
        font-size: 0.7em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* android medium */

@media screen and (min-device-width:375px) and (max-device-width:389px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgandr.jpg");
        background-repeat: no-repeat;
        background-size: 100% 812px;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 23%;
        left: 39%;
    }
    .im1 {
        width: 33%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 35%;
        height: 102%;
        background: linear-gradient(to bottom, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 50%;
        left: 11%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 0.7em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 0%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 69%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 48%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 27%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 3%;
        background-color: white;
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 66%;
        left: 37%;
        text-decoration: none;
        font-size: 0.7em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/*android large */

@media screen and (min-device-width:390px) and (max-device-width:425px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgandr.jpg");
        background-repeat: no-repeat;
        background-size: 100% 916px;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 27%;
        left: 39%;
    }
    .im1 {
        width: 33%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 35%;
        height: 102%;
        background: linear-gradient(to bottom, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 52%;
        left: 11%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 0.8em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 6%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 69%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 48%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 27%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 3%;
        background-color: white;
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 68%;
        left: 37%;
        text-decoration: none;
        font-size: 0.8em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* android medium */

@media screen and (min-device-width:375px) and (max-device-width:389px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgandr.jpg");
        background-repeat: no-repeat;
        background-size: 100% 750px;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 23%;
        left: 39%;
    }
    .im1 {
        width: 33%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 35%;
        height: 102%;
        background: linear-gradient(to bottom, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 50%;
        left: 11%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 0.7em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 1%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 69%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 48%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 27%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 3%;
        background-color: white;
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 66%;
        left: 37%;
        text-decoration: none;
        font-size: 0.7em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* 500+ p display */

@media screen and (min-device-width:426px) and (max-device-width:766px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgandr.jpg");
        background-repeat: no-repeat;
        background-size: 100% 720px;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 23%;
        left: 41%;
    }
    .im1 {
        width: 27%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 29%;
        height: 102%;
        background: linear-gradient(to bottom, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 54%;
        left: 17%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 1em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 19%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 1em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 69%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 48%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 27%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 3%;
        background-color: white;
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 70%;
        left: 37%;
        text-decoration: none;
        font-size: 1em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}


/* ipad */

@media screen and (min-device-width:767px) and (max-device-width:1023px) {
    body {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url("../images/bgandr.jpg");
        background-repeat: no-repeat;
        background-size: 100% 1370px;
    }
    .imanim {
        display: block;
        position: absolute;
        top: 30%;
        left: 41%;
    }
    .im1 {
        width: 27%;
        height: 11%;
        border-radius: 8%;
        -webkit-border-radius: 12%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        border-style: solid;
        border-width: 0.1em;
        z-index: 10;
    }
    .imanim:after {
        content: "";
        display: block;
        width: 29%;
        height: 102%;
        background: linear-gradient(to bottom, white, white, #370650, #370650 97%);
        position: absolute;
        top: -2%;
        left: -0.4%;
        border-radius: 10%;
        z-index: -1;
        filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        animation: ani 1.5s linear infinite;
        -webkit-animation: ani 1.5s linear infinite;
    }
    @keyframes ani {
        0% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
        50% {
            filter: blur(1.3em);
            -webkit-filter: blur(1.3em);
        }
        100% {
            filter: blur(0.3em);
            -webkit-filter: blur(0.3em);
        }
    }
    .tx {
        display: block;
        position: absolute;
        top: 52%;
        left: 19%;
    }
    .tx p {
        font-family: 'Courgette', cursive;
        font-size: 1.2em;
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        top: 3%;
        left: 10.5%;
    }
    .navbar ul {
        overflow: auto;
    }
    .navbar li {
        list-style: none;
        float: left;
        padding: 2em;
    }
    .navbar li .e1 {
        text-decoration: none;
        color: white;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e2 {
        text-decoration: none;
        color: white;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e3 {
        text-decoration: none;
        color: white;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .navbar li .e4 {
        text-decoration: none;
        color: white;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        opacity: 65%;
        font-weight: 600;
    }
    .l1:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 74%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l2:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 52%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l3:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 29%;
        background-color: white;
        width: 16%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    .l4:hover:before {
        content: " ";
        display: block;
        position: absolute;
        top: 64%;
        right: 4%;
        background-color: white;
        width: 18%;
        height: 3%;
        border-radius: 20px;
        animation: anim 0.15s linear 1;
        -webkit-animation: anim 0.15s linear 1;
    }
    @keyframes anim {
        0% {
            clip-path: polygon(45% 0%, 46% 0, 45% 100%, 44% 100%);
        }
        100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    .fb {
        display: block;
        position: absolute;
        top: 70%;
        left: 37%;
        text-decoration: none;
        font-size: 1.2em;
        font-family: 'Courgette', cursive;
        color: black;
    }
}